.row{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    flex-direction: column;
    width:1000px;
    height:1000px;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}